# Logger
LOG_DIR=./logs
LOG_REQUEST_BODY=false
LOG_RESPONSE_BODY=false

# AMap JavaScript API
VITE_AMAP_KEY=
VITE_AMAP_SECURITY_CODE=

# Runtime
SERVER_HOST=localhost
SERVER_PORT=3000
CLIENT_BASE_PATH=/
